<div class="d-flex mt-3" style="justify-content: flex-start;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a 
        class="nav-link {% if index %}active{% endif %}"
        href="{% url 'invoices:index' %}"
        style="color: #fff; background-color: #4b7777c7; border-radius: 10px; margin-right: 15px;"
      >
        Заявки
      </a>
    </li>
    
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a 
          class="nav-link {% if index_details %}active{% endif %}"
          href="{% url 'invoices:index_details' %}"
          style="color: #fff; background-color: #4b7777c7; border-radius: 10px; margin-right: 15px;"
        >
          Реквизиты
        </a>
      </li>
    {% endif %}
    
    {% if user.is_staff or user.superuser %}
      <li class="nav-item">
        <a 
          class="nav-link {% if index_statuses %}active{% endif %}"
          href="{% url 'invoices:index_statuses' %}"
          style="color: #fff; background-color: #4b7777c7; border-radius: 10px; margin-right: 15px;"
        >
          Статусы
        </a>
      </li>
    {% endif %}
  </ul>
</div>
