<div class="card glass play" style="border-radius: 20px; margin-bottom: 20px;">
  <div class="card-footer glass" style="background: linear-gradient(0deg, rgba(240, 244, 254, 0.63), rgba(240, 244, 254, 0.63)); border-radius: 20px;">
    <small class="d-md-flex justify-content-md-end">
      ID статуса: {{ status.id }}
    </small>
  </div>
  <div class="card-body" style="background: linear-gradient(0deg, rgba(240, 244, 254, 0.63), rgba(240, 244, 254, 0.63)); border-radius: 20px;">
    <p class="card-text merri" style="font-size: 15px;">
      Название: {{ status.name }}
    </p> 
  </div> 
</div>
